* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  }
  
  body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  header {
	color: rgb(145, 137, 143);
	padding: 20px;
	text-align: center;
	font-size: small;
  }
  
  h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 20px;
	margin: 0;
  }
  
  main {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .cart-items {
	display: flex;
	flex-wrap: wrap;
  }
  
  .item {
	flex-basis: 33.33%;
	padding: 10px;
  }
  
  .item img {
	width: 100%;
	border-radius: 15px;
	height: auto;
  }
  
  .item-details {
	text-align: center;
	margin-top: 10px;
  }
  
  .item-details h3 {
	font-size: 18px;
	margin: 5px 0;
  }
  
  .item-details p {
	margin: 5px 0;
  }
  
  .delete-btn {
	background-color: #090908;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	margin-top: 10px;
  }
  
  .totals {
	text-align: right;
	margin-top: 20px;
  }
  
  .totals h2 {
	margin: 0;
  }
  
  .checkout-btn {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	float: right;
	margin-top: 20px;
	text-decoration: none;
	display: block;
  }
  
  @media screen and (max-width: 600px) {
	.item {
	  flex-basis: 100%;
	}
  }


  